<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
        <div class='table-responsive'>
            <table class='table' *ngIf='productsList$ | async as products'>
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>
                        <button class="'btn btn-primary"
                        (click)='currencySwitch()'>
                            {{this.currency ? 'USD' : 'EUR'}}
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of products'>
                        <td>{{product.name}}</td>
                        <td *ngIf="this.currency">{{product.price}}EUR</td>
                        <td *ngIf="!this.currency">{{product.price*1.11 | number: '1.2-2'}}USD</td>
                        <td>{{product.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
