<nav class="navbar navbar-expand-lg navbar-light" style="background: #cccccc;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">SAP Merchandise Store</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" *ngFor="let cat of response">{{cat.fact}}</a>
                </li>
                <li class="nav-item">
                    <a class='nav-link' routerLink='/home'>Home</a>
                </li>
                <li class="nav-item">
                    <a class='nav-link' routerLink='/products'><button class="'btn btn-primary">Product List</button></a>
                </li>
            </ul>
            <span class="navbar-item">
                <select>
                <option *ngFor="let lang of languages">{{lang.name}}</option>
                </select>
            </span>
            <span class="navbar-text">
                <button class="bi bi-cart btn btn-primary" disabled> Cart</button>
            </span>
        </div>
    </div>
</nav>
